.link-item {
  text-decoration: none;
  margin-right: 50px;
}

.similar-job-list-item {
  width: 110%;
  list-style-type: none;
  background-color: #272727;
  border-radius: 10px;
  padding: 30px;
}

.add-description {
  width: 290px;
}

.location-cont {
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.location-icon {
  height: 20px;
  width: 20px;
  color: #ffffff;
  margin-right: 7px;
}

.location-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'roboto';
  margin-right: 25px;
}
